html, body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

.left,
.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left {
  color: #efefef;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

.left .bg-img {
  background: url('../img/ShivaniKalamadi_PortfolioPic.png') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left .bg-img:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #185a9d;
  background-image: linear-gradient(to left top, #43cea2 , #185a9d);
  opacity: 0.85;
}

.left-inner,
.right-inner {
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .left-inner,
  .right-inner {
    padding: 40px;
  }
}

.left-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}

.left .info {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .left .info {
    margin-top: 20px;
  }
}

.left .info .name {
  margin-top: 50px;
  font-weight: 50;
  font-size: 70px;
  margin-bottom: 50px;
}

.left .info .social-links {
  margin-top: 10px;
}

.left .info .fa {
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .left, .right {
    display: block;
    width: 100%;
  }
  .left {
    position: static;
  }
}

.right {
  float: right;
}

.right a {
  color: #000;
}

.right h4,
.right .content {
  display: inline-block;
  vertical-align: top;
}

.right h4 {
  width: 20%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right ul {
  padding: 0;
  margin: 0;
}

.right .content {
  width: 75%;
  padding: 0;
  margin: 0 0 50px;
  font-weight: 300;
  line-height: 1.5;
  justify-content: space-evenly;
}


@media screen and (max-width: 600px) {
  .right h4,
  .right .content {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}

.right .content ul.description {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.right .introduction .intro-p:first-of-type {
  margin-top: 0;
}

.right .introduction .job-pls {
  font-weight: 500;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


.right .skills .skill-category {
  margin-bottom: 10px;
}

.right .skills .skill-category:last-of-type {
  margin-bottom: 0px;
}

.right .skills .skill-category > strong {
  text-transform: uppercase;
  font-size: 14px;
}

.right .education {
  font-size: 16px;
}

.right .education .university {
  font-weight: 700;
  font-size: 16px;
}

.right .education .college {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.right .education .major,
.right .education .minor,
.right .education .conc,
.right .education .study-abroad {
  font-size: 15px;
}

.right .education .major > strong,
.right .education .minor > strong,
.right .education .conc > strong,
.right .education .study-abroad > strong {
  font-weight: 500;
}

.right .education .study-abroad {
  margin-top: 10px;
}

.right .education .grad-date {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 15px;
}

.right .experience .exp-item {
  margin-bottom: 30px;
}

.right .experience .exp-item:last-of-type {
  margin-bottom: 0;
}

.right .experience .exp-item .job {
  margin: 0;
  font-weight: 700;
}

.right .experience .exp-item .duration {
  font-size: 13px;
  font-weight: 500;
  float: right;
  color: #aaa;
  text-transform: uppercase;
  position: relative;
  top: 1px;
  margin-bottom: 5px;
}

@media screen and (max-width: 340px) {
  .right .experience .exp-item .duration {
    float: none;
  }
}

.right .experience .exp-item .title {
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}

.right .projects .project-item {
  margin-bottom: 20px;
}

.right .projects .project-title {
  font-weight: 700;
}

.right .projects .project-desc {
  font-size: 15px;
  margin: 0 0 10px;
}

.right a.resume {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.right a.resume:hover {
  background-color: #f1f1f1;
}

.right a.resume .resume-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right .education .grad-date-divide{
  margin-right: 15px;
  font-weight: 300;
  font-size: 14px;
  background-color: #2a2af5;
  background-image: -webkit-linear-gradient(45deg,#2a2af5 0%,#e53398 100%);
  background-image: linear-gradient(45deg,#2a2af5 0%,#e53398 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right .experience .exp-item .duration2 {
  font-size: 12px;
  font-weight: 500;
  float: right;
  color: #aaa;
  position: relative;
  top: 1px;
  margin-bottom: 5px;
}

.styled-buttons{
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.styled-buttons:hover {
  border: 0.01px solid white;
}

.styled-buttons2{
  text-transform: uppercase;
  padding: 15px 15px;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.styled-buttons2:hover {
  border: 0.01px solid black;
}

/* Style for the form container */
.left.form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 1);
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for form input fields */
input[type="text"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 30px;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.contact{
  background-color: #ffffff;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.contact-text{
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_d {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.styled-buttons3{
  text-transform: uppercase;
  padding: 15px 15px;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}


